
.page-header{
  margin: 0;
  height: 400px;
  background-image: url("../mario-luigi-yoschi-figures-163036.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.main-heading{
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 36px;
  }
  .rules{
    padding: 50px;
  }
  .interface{
  padding: 100px 10px;
  padding-bottom: 50px;
}
#output{
  display:none;
}
.footer{
  background-image: url("../pexels-photo-236229.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
  }
  body{
    background-image: url("../triangle_shapes_2560x1440.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
