.container-fluid{
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.page-header{
  margin: 0;
  height: 350px;
  background: #FF0000;
  color: #fff;
}

.main-heading{
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 36px;
  }
  .rules{
    padding: 50px;
  }
  .interface{
  padding: 100px 10px;
  padding-bottom: 50px;
}
